<script lang="ts">
	export let name: string;
	export let id: string;
	export let values: string[];
	export let label: string;
	export let value: string;
	export let errorText: string | undefined;
</script>

<div class="container">
	<label for={id}>
		<h3>{label}</h3>
	</label>
	<select {name} {id} bind:value>
		<option value="" selected disabled hidden> Select your status </option>
		{#each values as item}
			<option value={item}>{item}</option>
		{/each}
	</select>
	<small>{errorText ?? ''}</small>
</div>

<style>
	.container {
		flex: 1;
		position: relative;
		& select {
			width: 100%;
			box-sizing: border-box;
			height: 50px;
			padding: 0px 24px;
			background: linear-gradient(var(--manga-2), var(--manga-2)) padding-box,
				var(--border-color) border-box;
			border: 3px solid transparent;
			border-radius: 3px;
			font-size: var(--font-small);
			font-weight: var(--weight-regular);
			line-height: 26.4px;
			color: var(--manga-4);
			cursor: pointer;

			& option {
				font-size: var(--font-large);
				background-color: var(--manga-2);
				color: var(--void-2);
			}
		}

		& label h3 {
			margin-bottom: 24px;
		}

		& small {
			color: #e25b4e;
			display: block;
			position: absolute;
			bottom: -18px;
		}
	}

	@media only screen and (max-width: 1120px) {
		.container select {
			font-size: var(--font-mobile-xs);
		}

		.container select option {
			font-size: var(--font-mobile-xs);
		}
	}
</style>
