<script lang="ts">
	import type { Participant } from '$lib/definitions/participant';

	export let data: Participant;
</script>

<div class="card">
	<p class="font-card"><b>NAME:</b> {data.name}</p>
	<p class="font-card"><b>LAST NAME:</b> {data.lastName}</p>
	<p class="font-card"><b>GITLAB USERNAME:</b> {data.gitlab}</p>
	<p class="font-card"><b>KAGGLE USERNAME:</b> {data.kaggle}</p>
	<p class="font-card"><b>REGISTRATION DATE:</b> {data.regDate}</p>
</div>

<style>
	.card {
		background: linear-gradient(var(--manga-2), var(--manga-2)) padding-box,
			var(--border-color) border-box;
		border: 4px solid transparent;
		border-radius: 40px;
		padding: 24px 32px;

		display: flex;
		flex-direction: column;
		gap: 24px;
	}

	@media only screen and (max-width: 1120px) {
		.card {
			padding: 24px;
			gap: 12px;
		}
	}
</style>
